h2,a,p h3 {
    font-style: normal;
    background-color: #607d8b;
    color: #ffffff;
  }
  

p {
    font-style: normal;
  }
  
  p {
    font-style: italic;
  }
  
  p{
    font-style: oblique;
  }
